<div data-ng-show="authenticated">
	<div id="wrapper">
		<!-- /.row -->
		<div class="row">
			<div data-ng-repeat="product in products" class="col-sm-4">
				<div class="panel panel-primary">
					<div class="panel-heading panel-custom">{{product.category_name}}</div>
					<div class="panel-body">
						<p>Product: {{product.product_name}}</p>
						<p>Description: {{product.description}}</p>
						<p>Sell Price: {{product.sell_price}}</p>
						<p>Quantity: {{product.quantity}}</p>
					</div>
					<div class="panel-footer">Identificator: {{product.product_id}}</div>
				</div>
			</div>
			
		</div>
		
		<div class="row">
			<div class="col-lg-12">
				<div class="jumbotron">
					<p>
						Name: <input type="text" name="name" data-ng-model="name" required />
					</p>
					<p>
						Address: <input type="text" name="address" data-ng-model="address"
							required />
					</p>
					<p>
						Zip: <input type="number" name="zip" data-ng-model="zip" required />
					</p>
					<p>
						City: <input type="number" name="city" data-ng-model="city"
							required />
					</p>
					<button data-ng-click="SendData()">Submit</button>
					<hr />
					{{ PostDataResponse }}
				</div>
			</div>
		</div>
	</div>
</div>
