<div data-ng-show="authenticated">
	<div id="wrapper">
		<!-- /.row -->
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Basic Form Elements</div>
					<div class="panel-body">
						<div class="container">
							<div class="row">

								<!-- panel preview -->
								<form class="form-horizontal" role="form"
									data-ng-submit="addRow()">
									<div class="col-sm-5 col-sm-offset-1">
										<h4>Add Order:</h4>
										<div class="panel panel-default">
											<div class="panel-body form-horizontal payment-form">
												<div class="form-group">
													<label for="concept" class="col-sm-3 control-label">Product
														ID</label>
													<div class="col-sm-9">
														<input type="text" class="form-control" id="product_id"
															name="product_id" data-ng-model="product_id">
													</div>
												</div>
												<div class="form-group">
													<label for="description" class="col-sm-3 control-label">Description</label>
													<div class="col-sm-9">
														<input type="text" class="form-control" id="description"
															name="description" data-ng-model="description">
													</div>
												</div>
												<div class="form-group">
													<label for="amount" class="col-sm-3 control-label">Quantity</label>
													<div class="col-sm-9">
														<input type="number" class="form-control" id="quantity"
															name="quantity" data-ng-model="quantity">
													</div>
												</div>
												<div class="form-group">
													<label for="status" class="col-sm-3 control-label">Username</label>
													<div class="col-sm-9">
														<input type="text" class="form-control" id="user"
															name="user" data-ng-model="user">
													</div>
												</div>
												<div class="form-group">
													<label for="date" class="col-sm-3 control-label">Date</label>
													<div class="col-sm-9">
														<input type="date" class="form-control" id="date"
															name="date" data-ng-model="date">
													</div>
												</div>
												<div class="form-group">
													<div class="col-sm-12 text-right">
														<input type="submit" value="Submit"
															class="btn btn-primary" /> <span
															class="glyphicon glyphicon-plus"></span> Add
													</div>
												</div>
											</div>
										</div>
									</div>
								</form>
								<!-- / panel preview -->
								<div class="col-sm-5">
									<h4>Preview:</h4>
									<div class="row">
										<div class="col-xs-12">
											<div class="table-responsive">
												<table class="table preview-table">
													<thead>
														<tr>
															<th><a href=""
																data-ng-click="orderByField='product_id'; reverseSort = !reverseSort">Product
																	ID</a></th>
															<th><a href=""
																data-ng-click="orderByField='description'; reverseSort = !reverseSort">Description</a></th>
															<th><a href=""
																data-ng-click="orderByField='quantity'; reverseSort = !reverseSort">Quantity</a></th>
															<th><a href=""
																data-ng-click="orderByField='user'; reverseSort = !reverseSort">User</a></th>
															<th><a href=""
																data-ng-click="orderByField='date'; reverseSort = !reverseSort">Date</a></th>
														</tr>
														<tr
															data-ng-repeat="orders in re_stock_item | filter: searchKeyword | orderBy:orderByField:reverseSort">
															<td>{{orders.product_id}}</td>
															<td>{{orders.description}}</td>
															<td>{{orders.quantity}}</td>
															<td>{{orders.user}}</td>
															<td>{{orders.date}}</td>
														</tr>
													</thead>
													<tbody></tbody>
													<!-- preview content goes here-->
												</table>
											</div>
										</div>
									</div>
									<div class="row text-right">
										<div class="col-xs-12">
											<h4>
												Total: <strong><span class="preview-total"></span></strong>
											</h4>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12">
											<hr style="border: 1px dashed #dddddd;">
											<button type="button" class="btn btn-primary btn-block">Submit
												all and finish</button>
										</div>
									</div>
								</div>
							</div>
							<div class="row" data-ng-controller="MainCtrl as vm">
								<upload-banner></upload-banner>

								<div class="container">

									<h1 class="page-header">Upload a file, see information
										about the operation!</h1>

									<form class="app-form" novalidate>

										<div class="form-group">
											<label>Upload Strategy</label>
											<upload-strategy-selector upload-strategy="vm.uploadStrategy"></upload-strategy-selector>
										</div>

										<div class="form-group">
											<label for="file">File</label> <input type="file" id="file"
												name="file" data-custom-on-change="vm.fileSelected">
											<p class="help-block">This file is
												{{vm.selectedFileSize}}</p>
										</div>

										<button type="submit" class="btn btn-primary"
											data-ng-disabled="vm.file == null"
											data-ng-click="vm.uploadFile()">Submit</button>
									</form>

									<div class="panel panel-primary"
										data-ng-show="vm.uploadResponse != null || vm.errorOccurred">

										<div class="panel-heading">Upload Result</div>

										<div class="panel-body">

											<div data-ng-show="vm.errorOccurred">
												Sorry, an error occurred. Hopefully the response body helps:
												<pre class="error-json">
                    </pre>
											</div>

											<div data-ng-show="!vm.errorOccurred">

												<div class="form-group">
													<label for="responseDate">Path</label> <input disabled
														class="form-control" name="path" id="path"
														value="{{vm.submittedUrl}}">
												</div>

												<div class="form-group">
													<label for="responseDate">Submission time</label> <input
														disabled class="form-control" name="responseDate"
														id="responseDate"
														value="{{vm.response.date | date:'yyyy-MM-dd HH:mm:ss Z'}}">
												</div>

												<div class="form-group">
													<label for="responsePartInputStreamType">Part-or-MultipartFile
														input stream type</label> <input disabled class="form-control"
														name="responsePartInputStreamType"
														id="responsePartInputStreamType"
														value="{{vm.response.inputStreamType}}">
												</div>

												<div class="form-group">
													<label for="requestType">Request type</label> <input
														disabled class="form-control" name="requestType"
														id="requestType" value="{{vm.response.requestType}}">
												</div>

												<div class="form-group">
													<label for="requestType">Multipart Resolver Type
														(whether or not it was used)</label> <input disabled
														class="form-control" name="multipartResolverType"
														id="multipartResolverType"
														value="{{vm.response.multipartResolverType}}">
												</div>

												<div class="form-group">
													<label for="requestType">File size threshold</label> <input
														disabled class="form-control" name="fileSizeThreshold"
														id="fileSizeThreshold"
														value="{{vm.response.fileSizeThreshold}}">
												</div>
											</div>

										</div>
									</div>

								</div>
							</div>
						</div>
						<!-- /.row (nested) -->
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->

	</div>

	<!-- /#page-wrapper -->

</div>